<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/preguntame</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="cl/preguntame/model/Contenido.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Caracteristica.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Usuario.hbm.xml"/>
    <mapping resource="cl/preguntame/model/DatosEmpresa.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Test.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Observacion.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Relacion.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Concepto.hbm.xml"/>
    <mapping resource="cl/preguntame/model/TipoUsuario.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Definicion.hbm.xml"/>
    <mapping resource="cl/preguntame/model/Contacto.hbm.xml"/>
    <mapping resource="cl/preguntame/model/TipoRelacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
